.party {
  padding: 10px;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .video {
      display: flex;
      justify-content: center;

      * > div {
          height: 100%;
      }

      @media screen and (max-width: 576px) {
        width: 100vh;
        min-height: 270px;
      }

      @media screen and (min-width: 576px) {
        width: 100vh;
        min-height: 320px;
      }

      @media screen and (min-width: 768px) {
        width: 640px;
        height: 360px;
      }

      @media screen and (min-width: 992px) {
        width: 640px;
        height: 360px;
      }

      @media screen and (min-width: 1200px) {
        width: 920px;
        height: 517px;
      }

      @media screen and (min-width: 1440px) {
        width: 1040px;
        height: 585px;
      }

      @media screen and (min-width: 1660px) {
        width: 1280px;
        height: 720px;
      }
    }

    .chat {

      @media screen and (max-width: 576px) {
        width: 100vh;
        min-height: 270px;
      }

      @media screen and (min-width: 576px) {
        width: 100vh;
        min-height: 320px;
      }

      @media screen and (min-width: 768px) {
        width: 640px;
        height: 200px;
      }

      @media screen and (min-width: 992px) {
        width: 260px;
        height: 360px;
      }

      @media screen and (min-width: 1200px) {
        width: 300px;
        height: 517px;
      }

      @media screen and (min-width: 1440px) {
        width: 300px;
        height: 585px;
      }

      @media screen and (min-width: 1660px) {
        width: 340px;
        height: 720px;
      }
    }
  }
}
