.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 100px;

  background-color: white;

  .messages {
    flex-grow: 1;
  }

  .bottom {
    display: flex;
    width: 100%;
    align-self: flex-end;

    .name {
      color: #404040;
      padding-left: 5px;
      padding-right: 5px;
    }

    input {
      flex-grow: 1;
    }
  }
}
